vmidentity/sts/src/main/webapp/WEB-INF/wsdl/STSService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
            xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
            xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:tns="http://docs.oasis-open.org/ws-sx/ws-trust/200512/wsdl"
            xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
            xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512"
            xmlns:jaxws="http://java.sun.com/xml/ns/jaxws"
            xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
            xmlns:wsp="http://www.w3.org/ns/ws-policy"
            xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
            xmlns="http://schemas.xmlsoap.org/wsdl/"
            name="STSService"
            targetNamespace="http://docs.oasis-open.org/ws-sx/ws-trust/200512/wsdl">

   <wsdl:types>
        <xsd:schema>
            <xsd:import namespace="http://docs.oasis-open.org/ws-sx/ws-trust/200512" schemaLocation="sts_xsd/vmware-ws-trust-1.3.xsd"></xsd:import>
            <xsd:import namespace="http://docs.oasis-open.org/ws-sx/ws-trust/200802" schemaLocation="sts_xsd/vmware-ws-trust-1.4.xsd"></xsd:import>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="RequestSecurityTokenMsg">
        <wsdl:part name="RequestSecurityToken" element="wst:RequestSecurityToken"/>
    </wsdl:message>
    <wsdl:message name="RequestSecurityTokenResponseCollectionMsg">
        <wsdl:part name="RequestSecurityTokenResponseCollection" element="wst:RequestSecurityTokenResponseCollection"/>
    </wsdl:message>
    <wsdl:message name="RequestSecurityTokenResponseMsg">
        <wsdl:part name="RequestSecurityTokenResponse" element="wst:RequestSecurityTokenResponse"/>
    </wsdl:message>
    <wsdl:portType name="STSService">
        <wsdl:operation name="Issue">
            <wsdl:input message="tns:RequestSecurityTokenMsg"/>
            <wsdl:output message="tns:RequestSecurityTokenResponseCollectionMsg"/>
        </wsdl:operation>
        <wsdl:operation name="Renew">
            <wsdl:input message="tns:RequestSecurityTokenMsg"/>
            <wsdl:output message="tns:RequestSecurityTokenResponseMsg"/>
        </wsdl:operation>
        <wsdl:operation name="Validate">
            <wsdl:input message="tns:RequestSecurityTokenMsg"/>
            <wsdl:output message="tns:RequestSecurityTokenResponseMsg"/>
        </wsdl:operation>
        <wsdl:operation name="Challenge">
            <wsdl:input message="tns:RequestSecurityTokenResponseMsg"/>
            <wsdl:output message="tns:RequestSecurityTokenResponseCollectionMsg"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="STSService_Binding" type="tns:STSService">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Challenge">
            <soap:operation soapAction="http://docs.oasis-open.org/ws-sx/ws-trust/200512/RSTR/Issue" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Issue">
            <soap:operation soapAction="http://docs.oasis-open.org/ws-sx/ws-trust/200512/RST/Issue" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Renew">
            <soap:operation soapAction="http://docs.oasis-open.org/ws-sx/ws-trust/200512/RST/Renew" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Validate">
            <soap:operation soapAction="http://docs.oasis-open.org/ws-sx/ws-trust/200512/RST/Validate" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="STSService">
        <wsdl:port name="STSService_Port" binding="tns:STSService_Binding">
            <soap:address location="http://localhost:7080/sts/STSService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
